h1
{
  color: green;
}
*{
  margin: 0;
  box-sizing: border-box;
}
.container{
    width: 45%;
    min-width: 450px;
    padding-top: 0;
    margin: 0 auto; 
}

/* Styling Home page */
.user{
  background-color: #fff;
  display: flex;

}
.user img{
  margin-top: 1.5rem;
  border-radius: 50%;
  border: 2px solid #C13584;;
}
.user h2{
  margin-left: 1rem;
}
.image{
  background-color: rgb(235, 232, 232);
}
.image img{
  padding:3rem;
}
h5, p, .icons {
  margin-left: 5%;
  font-size: 16px;
}
.icons{
  font-size: 24px;
}

/* end home page */

#auth{
  display: flex;
  
}
#auth a{
  margin-left: 3rem;
  
}
