{%extends 'all-instagram/base.html'%}

{% block content %}
{{block.super}}
<div class="container">

    <!-- Looping through post   -->
    {% for item in posts %}
  
    <div class="card mb-3">
        <div class="user">
                <img src="{{ item.profile.profile_photo.url }}" width="60" height="50" alt="">
                <h2>{{item.profile.user}}</h2> 
        </div>
        <hr>
        <div class="image">
            <img src="{{ item.image.url }}" class="card-img-top" width="500" height="450"  alt="...">
            <div class="card-body">
                <div class="icons">
                    <i class="fas fa-heart" style="color:red"></i>
                    <i class="far fa-comment"></i>
                    <i class="fal fa-location-arrow"></i>

                </div>
                <h5 class="card-title">{{ item.name }} </h5>
                <p class="card-text">{{ item.caption }}</p>
                <p>454{{item.comments.comment}}</p>
                <p class="card-text"><small class="text-muted">{{ item.time_created }}</small></p>
            </div>

        </div>
        
      </div>
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No post Items</h2>
    </div>
    {% endfor %}


  
  </div>
{% endblock %}


